$deep_blue: #000028;
$bold-blue: #00e6dc;
$red: #EF0137;

$interactive_default: #00CCCC;
$interactive_hover: #2EE6E2;
$interactive_pressed: #4DFFF9;

$deep_blue_80: #333353;
$dark_gray: #66667E;

$phone_breakpoint: 600px;
