
.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.nav {
  background-color: #333353;
  width: 100vw;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
}

.nav > img {
  width: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  cursor: pointer;
}

.header {
  border-left: 5px solid #00e6dc;
  padding-left: 1rem;
  margin-top: 1rem;
  align-self: flex-start;
}

.header * {
  margin: 0px;
}

/* .category_container {
  width: 60vw;
  border: 1px solid red;
} */

.category_description {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 2rem;

  /* border: 1px solid blue; */
}

.categories_images {
  display: block;
  max-width: 40rem;
  max-height: 20rem;
  /* width: auto;
  height: auto; */
}

.category_links {
  display: flex;
  flex-direction: column;
  width: 12rem;
  padding: 1rem;
  text-align: center;

  /* background-color: #f3f3f0; */

  /* border: 1px solid green; */
}

.category_links a {
  border: 1px solid #00cccc;
  color: #333353;
  background-color: #00cccc;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding: 0.5rem;
  font-weight: 600;
}

.category_links a:hover {
background-color: #2EE6E2;
}

.hr {
  border: #00e6dc solid 1px;
  width: 80%;
}

.footer {
  width: 100vw;
  background-color: #333353                              ;
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
